#loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    background-image: radial-gradient( circle 1224px at 10.6% 8.8%,  rgba(255,255,255,1) 0%, rgba(153,202,251,1) 100.2% );  
  
  }
  #loginBg {
    flex: 1;
    width: 100%;
    position: absolute;
  }
  
  #loginBg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .searchImg{
    width: 20px;
  }
  
  #loginform {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% );    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    box-shadow: 1px 1px 25px -2px rgba(255, 193, 4, 0.31);
    border: 2px outset #0e74be;
    max-width: 450px;
    position: relative;
    z-index: 1;
  }
  
  #headingLogin {
    text-align: center;
    color: #0e74be;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 1rem;
  }
  
  #username,
  #password {
    color: #0e74be;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  
  #loginFormBtn,
  #loginwithBtn {
    width: 100%;
    background-color: #0e74be;
    color: #EEC759;
    margin-top: 1rem;
  }
  
  #glogo {
    margin-right: 0.5rem;
    display: inline-block;
  }
  
  #gtext {
    display: inline-block;
    vertical-align: middle;
  }
  
  @media (min-width: 768px) {
    #loginform {
      width: 70%;
    }
  }
  
  @media (min-width: 992px) {
    #loginform {
      width: 50%;
    }
  }
  